<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{title}}</h2>        
        <ul class="nav navbar-right">          
          <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>                      
        </ul>

        <div class="clearfix"></div>
      </div>
        <div class="x_content">     

        <div class="x_panel">
                  <div class="x_title">
                    <h2>Estado de cuenta</h2>
                    <ul class="nav navbar-right panel_toolbox">                       
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Mes: 
                          <select class="monthselect form-control">
                            <option value="0">Enero</option>
                            <option value="1" selected="selected">Febrero</option>
                            <option value="2">Marzo</option>
                            <option value="3">Abril</option>
                            <option value="4">Mayo</option>
                            <option value="5">Junio</option>
                            <option value="6">Julio</option>
                            <option value="7">Agosto</option>
                            <option value="8">Setiembre</option>
                            <option value="9">Octubre</option>
                            <option value="10">Noviembre</option>
                            <option value="11">Diciembre</option>
                          </select>

                      </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-success" ng-click="acctsaving()">Enviar</button>
                        </div>
                      </div>
                      </form>
                  </div>
                </div>

          </div>  
    </div> 
  </div>
</div>
